$cuba-default-menubar-background: #f4d190;
$cuba-menubar-background-color: #f4d190;
$valo-menu-background-color: #f4d190;
$v-font-color: #37404E;
$v-background-color: #fafafa;
$v-app-background-color: #fff;
$v-panel-background-color: #fff;
$v-focus-color: #3b5998;
$valo-font-color: #fff;

$cuba-menubar-text-color: #000;